/*Google icons*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/*End Google icons*/

body, input, button {
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #222;
}

body {
  background: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li {
  display: inline;
  
}

li a {
  color: black;
  text-decoration: none;
  align-items: center;
  float: none;
  position: relative;
  
}

li a:hover {
  text-decoration: underline;
}

nav {
  justify-content: flex-end;
  float: right;
  text-align:center;
}


#logo-google {
  position: relative;
  top: 15em;
  left: 45%;
 }

.busqueda {
  position: relative;
  top: 17em;
  left: 53em;
}

#text-search {
  width: 500px;
  background: #fff;
  display: inline-flex;
  align-self: center;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
}

.botones {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  margin-left: 60px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
/*Footer*/
footer {
  position: absolute;
  bottom: 30px;
  width: 1908px;
}

#links-footer1 {
  float: left;
}

#links-footer2 {
  float: right;
}

#country-text {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0,0,0,.54);
}